
.blob {
  display: inline-block;
  background: white;
  height: 8vw;
  width: 55vw;
  filter: url(#watercolor);
  font-size: 60px;
  color: #c6e7a89c;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
  padding-bottom: 35px;
  filter: blur(30px) contrast(1);
  transform: rotate(-3deg);
}
.blobBaby {
  color: yellow;
}
.blocky {
  @extend .blob;
  background: linear-gradient(
    to top right,
    rgba(255, 226, 249, 0.767),
    #f7d2cd
  );
  font-family: "Segoe UI Emoji", sans-serif;
  color: #fda36ee3;
  text-align: right;
  font-size: 40px;
  height: 2vw;
  width: 35vw;
  border-radius: 96px 72px 48px 24px/24px 48px 72px 96px;
  padding-bottom: 15px;
  filter: blur(20px) contrast(1.1);
}
.blockyBaby {
  padding-top: 10vw;
  padding-right: 22vw;
  color: blue;
}
.cloud {
  @extend .blob;
  z-index: 99;
  background: #dcd0ff;
  color: #8fe7c2;
  height: 3vw;
  width: 13vw;
  border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;
  padding-bottom: 50px;
  filter: blur(22px) contrast(1.25) !important;
  opacity: 0.8;
}
.scripty {
  @extend .blob;
  color: #ff5e00;
  font-size: 40px;
  background: transparent;
  text-align: right;
  filter: blur(11px) contrast(1) !important;
}
#root {
  overflow: hidden;
}
.container2 {
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: url(#container2);
}
