@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600&display=swap");
.headerWrapper {
  position: absolute;
  min-width: 900px;
  min-height: 400px;
  z-index: 298;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #faecde;
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
  -webkit-animation: opacityShift 1s;
          animation: opacityShift 1s;
  overflow: hidden;
  padding-top: 3em;
  padding-bottom: 2.5em;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.03), 0 15px 12px rgba(0, 0, 0, 0.01);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.03), 0 15px 12px rgba(0, 0, 0, 0.01);
}

.headerWrapper .landingHeader {
  font-size: 7.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 130px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px;
  overflow: hidden;
  color: #64320f;
}

.headerWrapper .landingmax {
  font-family: "RosenFont ExtraBlack";
  text-transform: capitalize;
  cursor: pointer;
  background-size: cover;
  background-image: url("../assets/fieldOfColor.jpg");
  background-position: center;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #64320f;
}

.headerWrapper .landingmax:hover {
  -webkit-text-fill-color: transparent;
}

.headerWrapper .landingrosen {
  font-weight: default;
  font-family: RosenFont, "Arial", sans-serif;
  padding-left: 0.6em;
  text-transform: uppercase;
}

.headerWrapper .informationalContainer {
  min-height: 12em;
}

.headerWrapper .informationalContainer .centerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 7em;
}

.headerWrapper .informationalContainer .ipsumContainer {
  height: 10em;
  background-color: #fcf4ed;
  width: 40em;
  margin-left: 3.6em;
  margin-top: 1.6em;
  -webkit-animation: opacityShift 1s;
          animation: opacityShift 1s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  visibility: hidden;
}

.headerWrapper .informationalContainer .rosenIpsum {
  position: relative;
  font-size: 2.7em;
  color: #aab1b3;
  padding: 26px;
}

.headerWrapper .informationalContainer .rosenIpsum:nth-child(1) {
  font-size: 3em;
  line-height: 98%;
}

.headerWrapper .informationalContainer .rosenIpsum:nth-child(2) {
  font-size: 3.98em;
  left: -0.05em;
  line-height: 98%;
  letter-spacing: 0.41em;
}

.headerWrapper .informationalContainer .rosenIpsum:nth-child(3) {
  font-size: 5.55em;
  left: -0.1em;
  line-height: 83%;
  letter-spacing: 0.41em;
}

.headerWrapper .informationalContainer .whereToContainer {
  font-family: "RosenFont", sans-serif;
  font-size: 1.4em;
  text-align: right;
  font-weight: 400;
  position: relative;
  top: 25px;
}

.headerWrapper .informationalContainer .whereToContainer div.whereTo {
  overflow: hidden;
}

.headerWrapper .informationalContainer .whereToContainer div.whereTo div {
  overflow: hidden;
  position: relative;
}

.headerWrapper .informationalContainer .whereToContainer div.whereTo div a.whereToLink {
  cursor: pointer;
  color: #64320f;
  text-decoration: none;
  line-height: 35px;
  height: 35px;
  display: block;
  overflow: hidden;
  text-transform: capitalize;
}

.headerWrapper .informationalContainer .whereToContainer div.whereTo div a.whereToLink:after {
  position: absolute;
  background-color: #20201e;
  content: "";
  width: 100%;
  height: 1px;
  bottom: -1px;
  left: 0;
}

.headerWrapper .informationalContainer .whereToContainer div.whereTo div a.whereToLink:hover {
  color: #ed462f;
}

.headerWrapper .informationalContainer .whereToContainer div.whereTo div a.whereToLink:hover:after {
  -webkit-transition: width ease-in 0.3s 0.2s;
  transition: width ease-in 0.3s 0.2s;
  width: 100%;
  background-color: #fffef3;
  left: 100%;
}

.container2 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blob {
  display: inline-block;
  background: -webkit-gradient(linear, left bottom, right top, from(rgba(255, 226, 249, 0.767)), to(#f7d2cd));
  background: linear-gradient(to top right, rgba(255, 226, 249, 0.767), #f7d2cd);
  height: 3vw;
  width: 10vw;
  font-size: 60px;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
  padding-bottom: 35px;
  -webkit-transform: translate3d(1.88px, -103.28px, 0px);
          transform: translate3d(1.88px, -103.28px, 0px);
  z-index: 66;
  -webkit-animation: opacityShift 3s;
          animation: opacityShift 3s;
  visibility: hidden;
}

.blocky {
  display: inline-block;
  font-family: "Segoe UI Emoji", sans-serif;
  color: #fda36ee3;
  text-align: right;
  font-size: 40px;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
  height: 2vw;
  width: 35vw;
  border-radius: 96px 72px 48px 24px/24px 48px 72px 96px;
  padding-bottom: 15px;
  z-index: 77;
  -webkit-transform: translate3d(25.3778px, -144.311px, 0px);
          transform: translate3d(25.3778px, -144.311px, 0px);
  visibility: hidden;
}

@-webkit-keyframes opacityShift {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacityShift {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=landing.css.map */