@import url("https://fonts.googleapis.com/css?family=Galdeano&display=swap");

.headerWrapper {
  position: absolute;
  z-index: 298;
  left: 30%;
  top: 30%;
  color: rgb(59, 43, 17);
}
.landingHeader {
  font-family: "Galdeano", sans-serif;
  font-size: 7.5vw;
}
.landingMax {
  font-weight: 900;
  letter-spacing: 0.14em;
}
.landingRosen {
  padding-left: 5vw;
  letter-spacing: 0.07em;
}

// ============== the background mouseover effect below ===========
.cardComponent {
  position: absolute;
}
.blob {
  display: inline-block;
  background: white;
  height: 8vw;
  width: 55vw;
  filter: url(#watercolor);
  font-size: 60px;
  color: #c6e7a89c;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
  padding-bottom: 35px;
  filter: blur(30px) contrast(1.05);
  transform: rotate(-5deg);
  z-index: 66;
}
.blobBaby {
  color: yellow;
}
.blocky {
  @extend .blob;
  background: linear-gradient(
    to top right,
    rgba(255, 226, 249, 0.767),
    #f7d2cd
  );
  font-family: "Segoe UI Emoji", sans-serif;
  color: #fda36ee3;
  text-align: right;
  font-size: 40px;
  height: 2vw;
  width: 35vw;
  border-radius: 96px 72px 48px 24px/24px 48px 72px 96px;
  padding-bottom: 15px;
  filter: blur(20px) contrast(1.1);
  z-index: 77;
}
.blockyBaby {
  padding-top: 10vw;
  padding-right: 22vw;
  color: blue;
}
.cloud {
  @extend .blob;
  z-index: 199;
  background: #dcd0ffd8;
  color: #8fe7c2;
  height: 1.5vw;
  width: 10vw;
  border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;
  padding-bottom: 50px;
  filter: blur(22px) contrast(1.5) !important;
  opacity: 0.75;
}
.scripty {
  z-index: 299;
  @extend .blob;
  color: #ff5e00;
  font-size: 40px;
  background: transparent;
  text-align: right;
  filter: blur(9px) contrast(15) !important;
}
// #root {
//   overflow: hidden;
// }
.container2 {
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: url(#container2);
}
