$notchSize: 7px;
$rosenBrown: #64320f;
$backgroundColor: #fff2e6;
$whereToColor: #019563;
$darkBackground: rgb(34, 34, 34);

.card {
  .secondCard {
    width: 100%;
    height: 100%;
    &::after {
      content: "";
      position: absolute;
      min-width: 100vw;
      min-height: 100vh;
      background: $darkBackground;
      z-index: 2;
      opacity: 0;
    }
  }
  &::after {
    content: "";
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    background: url(../assets/drawing3.svg) no-repeat;
    background-color: rgb(230, 216, 252);
    top: 50%;
    background-size: cover;
    animation-timing-function: ease-in;
    animation: opacityShift 4s;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}

.card-exit {
  &::after {
    opacity: 1;
  }
  .secondCard {
    &::after {
      opacity: 0;
    }
    .headerWrapper {
      transform: translate(-50%, -50%);
      opacity: 1;
      .landingmax {
        -webkit-background-clip: text;
        -webkit-text-fill-color: unset;
        color: $rosenBrown;
      }
      .landingrosen {
        color: $rosenBrown;
      }
      .informationalContainer {
        .whereToContainer {
          .whereTo {
            div {
              .underlined {
                color: #141211;
              }
            }
          }
        }
      }
    }
  }
}
.card-exit-active {
  &::after {
    transition: opacity 550ms;
    opacity: 0;
  }
  .secondCard {
    &::after {
      opacity: 0;
      transition: opacity 700ms;
    }
    .headerWrapper {
      opacity: 0;
      transform: translate(-50%, -58%);
      transition: transform 700ms cubic-bezier(0.32, 0, 0.67, 0), opacity 650ms;
      .landingmax {
      }
      .landingrosen {
      }
      .informationalContainer {
        .whereToContainer {
          .whereTo {
            div {
              .underlined {
                color: #222524;
                transition: color 650ms;
              }
            }
          }
        }
      }
    }
  }
}
.headerWrapper {
  position: absolute;
  min-width: 900px;
  min-height: 400px;
  z-index: 298;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  overflow: hidden;
  .landingHeader {
    font-size: 9.5em;
    display: flex;
    padding: 16px;
    overflow: hidden;
    color: $rosenBrown;
    align-items: center;
    justify-content: center;
    .landingmax {
      font-family: "RosenFont ExtraBlack";
      display: inline;
      text-transform: capitalize;
      cursor: pointer;
      letter-spacing: -0.009em;
      div {
        -webkit-background-clip: text;
        -webkit-text-fill-color: $rosenBrown;
        background-image: url("../assets/fieldOfColor.jpg");
        background-size: cover;
        background-position: center;
        &:hover {
          -webkit-text-fill-color: transparent;
        }
      }
    }
    .landingrosen {
      font-weight: default;
      font-family: RosenFont, "Arial", sans-serif;
      padding-left: 0.2em;
      text-transform: uppercase;
      position: relative;
      bottom: -5px;
      letter-spacing: -0.05em;
    }
  }

  .informationalContainer {
    .centerContainer {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      justify-content: flex-end;
      padding-right: 7.5em;
      width: 900px;
    }

    .whereToContainer {
      position: relative;
      right: -2px;
      // top: 12px;

      div.whereTo {
        text-align: right;
        div {
          overflow: hidden;
          position: relative;
          // height: 30px;

          .underlined {
            font-size: 0.9em;
            // text-transform: uppercase;
            color: #2e2728;
            font-family: "Bossa Expanded Light";
            -webkit-background-clip: text;
            background-image: radial-gradient(
              circle,
              rgba(245, 206, 236, 1) 0%,
              rgba(238, 214, 120, 1) 100%
            );
            // text-transform: capitalize;
            // line-height: 20px;
            flex: 1;
            text-decoration: none;
            // background-position: 0 1em;
            // background-size: 0% 100%;
            // -moz-background-size: 0% 100%;
            // background-repeat: no-repeat;
            left: 0px;
            display: block;
            // transition: 0.3s ease;
            letter-spacing: 0.03em;

            &:hover {
              // background-size: 100% 20%;
              // -moz-background-size: 100% 20%;
              // font-style: italic;
              color: #4b3e48;
            }
            // &--thin {
            //   background-image: linear-gradient(
            //     to left,
            //     $whereToColor 0,
            //     $whereToColor 100%
            //   );
            // }
          }
          .whereToLink {
            text-align: right;
          }
        }
      }
    }
  }
}

@keyframes opacityShift {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shadowShift {
  from {
    box-shadow: 0 8px 38px rgba(26, 49, 56, 0), 0 6px 12px rgba(26, 49, 56, 0);
  }
  to {
    box-shadow: 0 15px 38px rgba(0, 0, 0, 0.02), 0 10px 12px rgba(0, 0, 0, 0.02);
  }
}
