$notchSize: 7px;
$rosenBrown: #64320f;
$backgroundColor: #fefefa;
$darkBackground: rgb(34, 34, 34);
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Karla&display=swap");

.card {
  .goofImage {
    width: 300px;
    top: calc(20% + 20vh);
    left: 20vw;
  }
  .collageImage {
    width: 500px;
    top: calc(20% + 24vh);
    right: calc(15% + 18vw);
  }
  .designVid {
    width: 410px;
    top: calc(5% + 6vh);
    right: calc(8% + 15vw);
  }
  .vidVid {
    width: 420px;
    top: calc(20% + 30vh);
    left: calc(25% + 12vw);
  }
  .photog {
    width: 550px;
    top: 5%;
    left: calc(15% + 12vw);
  }
  .revealer {
    position: absolute;
    z-index: 99;
    height: auto;
    transition: all 3ms ease;
    // box-shadow: 0 16px 38px rgba(0, 0, 0, 0.08), 0 10px 12px rgba(0, 0, 0, 0.06);
  }
  &::after {
    content: "";
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    background: url(../assets/drawing3.svg) no-repeat;
    background-color: rgb(246, 231, 248);
    top: 50%;
    background-size: cover;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    animation: opacityShift 500ms ease;
  }
}

.card-exit {
  .revealer {
    opacity: 1;
  }
  &::after {
    opacity: 1;
  }
  .secondCard {
    &::after {
      opacity: 0;
    }
    .headerWrapper {
      transform: translate(-50%, -50%);
      opacity: 1;
      .landingmax {
        -webkit-background-clip: text;
        -webkit-text-fill-color: unset;
        color: $rosenBrown;
      }
      .landingrosen {
        color: $rosenBrown;
      }
      .informationalContainer {
        .whereToContainer {
          .whereTo {
            div {
              .underlined {
                color: rgb(99, 88, 86);
              }
            }
          }
        }
      }
    }
  }
}
.card-exit-active {
  .revealer {
    opacity: 0;
  }
  &::after {
    transition: opacity 550ms;
    opacity: 0;
  }
  .secondCard {
    &::after {
      opacity: 0;
      transition: opacity 700ms;
    }
    .headerWrapper {
      opacity: 0;
      transform: translate(-50%, -58%);
      transition: transform 700ms cubic-bezier(0.32, 0, 0.67, 0), opacity 650ms;

      .informationalContainer {
        .whereToContainer {
          .whereTo {
            div {
              .underlined {
                color: rgb(99, 88, 86);
                transition: color 650ms;
              }
            }
          }
        }
      }
    }
  }
}
.headerWrapper {
  position: absolute;
  min-width: 900px;
  min-height: 400px;
  z-index: 298;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  overflow: hidden;
  .landingHeader {
    font-size: 11.5em;
    display: flex;
    padding: 26px 16px 0px 16px;
    overflow: hidden;
    color: $rosenBrown;
    align-items: center;
    justify-content: center;
    .landingmax {
      font-family: "RosenFont ExtraBlack";
      display: inline;
      text-transform: capitalize;
      letter-spacing: -0.009em;
      -webkit-background-clip: text;
      -webkit-text-fill-color: $rosenBrown;
      background-image: url("../assets/fieldOfColor.jpg");
      background-size: cover;
      background-position: center;
      &:hover {
        -webkit-text-fill-color: transparent;
      }
    }
    .landingrosen {
      color: $rosenBrown;
      font-weight: default;
      font-family: RosenFont, "Arial", sans-serif;
      padding-left: 0.2em;
      text-transform: uppercase;
      position: relative;
      bottom: -3px;
      letter-spacing: -0.05em;
    }
  }

  .informationalContainer {
    .centerContainer {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      justify-content: flex-end;
      width: 900px;
    }

    .whereToContainer {
      position: relative;
      // right: -2px;
      top: -10px;
      right: -24px;
      div.whereTo {
        text-align: right;
        .underlined {
          font-size: 1.1em;
          float: right;
          color: rgb(92, 82, 80);
          font-family: "Criteria Regular", sans-serif;
          flex: 1;
          text-decoration: none;
          left: 0px;
          display: block;
          transition: 0.3s ease;
          background-image: linear-gradient(
            to right,
            rgb(179, 164, 162) 0,
            rgb(179, 164, 162) 100%
          );
          background-position: 0 1.22em;
          background-size: 0 100%;
          background-repeat: no-repeat;
          &:hover {
            background-size: 100% 100%;
            color: rgb(78, 69, 68);
          }
        }
        .whereToLink {
          text-align: right;
        }
      }
    }
  }
}
@keyframes opacityShift {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shadowShift {
  from {
    box-shadow: 0 8px 38px rgba(26, 49, 56, 0), 0 6px 12px rgba(26, 49, 56, 0);
  }
  to {
    box-shadow: 0 15px 38px rgba(0, 0, 0, 0.02), 0 10px 12px rgba(0, 0, 0, 0.02);
  }
}
