@import url("https://fonts.googleapis.com/css?family=Crimson+Text:600i|Old+Standard+TT:400i|Playfair+Display+SC:400i,500i&display=swap");
.leftSection {
  font-family: "America Expanded Medium";
  font-size: 1.5em;
  text-transform: uppercase;
}

#root {
  background: linear-gradient(349deg, #f8dfb0 1%, #d5ebff 90%);
}

#root::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../assets/drawing3.svg) no-repeat;
  top: 50%;
  background-size: 100% 120%;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation: opacityShift 4s;
          animation: opacityShift 4s;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card::before {
  position: relative;
  background-repeat: no-repeat;
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 77;
}

.headerWrapper {
  position: absolute;
  min-width: 900px;
  min-height: 400px;
  z-index: 298;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-47%, -50%);
          transform: translate(-47%, -50%);
  opacity: 1;
  overflow: hidden;
}

.headerWrapper .landingHeader {
  font-size: 9.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px;
  overflow: hidden;
  color: #64320f;
}

.headerWrapper .landingmax {
  font-family: "RosenFont ExtraBlack";
  display: inline;
  text-transform: capitalize;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #64320f;
  background-image: url("../assets/fieldOfColor.jpg");
  letter-spacing: -0.009em;
}

.headerWrapper .landingmax:hover {
  -webkit-text-fill-color: transparent;
}

.headerWrapper .landingrosen {
  font-weight: default;
  font-family: RosenFont, "Arial", sans-serif;
  padding-left: 0.2em;
  text-transform: uppercase;
  position: relative;
  bottom: -5px;
  letter-spacing: -0.05em;
}

.headerWrapper .informationalContainer {
  min-height: 12em;
}

.headerWrapper .informationalContainer .centerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 7.5em;
  width: 900px;
}

.headerWrapper .informationalContainer .ipsumContainer {
  visibility: hidden;
  position: relative;
  width: 70%;
  left: 6em;
  margin-top: 1.5em;
  margin-left: 1em;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #e2c2ff;
}

.headerWrapper .informationalContainer .ipsumContainer:before,
.headerWrapper .informationalContainer .ipsumContainer:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  border-bottom: 7px solid #e2c2ff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

.headerWrapper .informationalContainer .ipsumContainer:after {
  bottom: auto;
  top: 100%;
  border-bottom: none;
  border-top: 7px solid #e2c2ff;
}

.headerWrapper .informationalContainer .rosenIpsum {
  position: relative;
  height: 176px;
  background-size: contain;
  top: -15px;
  background-repeat: no-repeat;
}

.headerWrapper .informationalContainer .rosenIpsum:nth-child(1) {
  background-image: url(../assets/eckmannN.svg);
  width: 85px;
}

.headerWrapper .informationalContainer .rosenIpsum:nth-child(2) {
  background-image: url(../assets/eckmannE.svg);
  width: 71px;
}

.headerWrapper .informationalContainer .rosenIpsum:nth-child(3) {
  background-image: url(../assets/eckmannW.svg);
  width: 109px;
}

.headerWrapper .informationalContainer .rosenIpsum:nth-child(4) {
  background-image: url(../assets/eckmannY.svg);
  width: 80px;
}

.headerWrapper .informationalContainer .rosenIpsum:nth-child(5) {
  background-image: url(../assets/eckmannO.svg);
  width: 70.7px;
}

.headerWrapper .informationalContainer .rosenIpsum:nth-child(6) {
  background-image: url(../assets/eckmannR.svg);
  width: 85px;
}

.headerWrapper .informationalContainer .rosenIpsum:nth-child(7) {
  background-image: url(../assets/eckmannK.svg);
  width: 82px;
}

.headerWrapper .informationalContainer .whereToContainer {
  font-family: "Sectra Fine Book Italic", sans-serif;
  font-size: 1.7em;
  text-align: right;
  position: relative;
  top: 3px;
}

.headerWrapper .informationalContainer .whereToContainer div.whereTo {
  overflow: hidden;
}

.headerWrapper .informationalContainer .whereToContainer div.whereTo div {
  overflow: hidden;
  position: relative;
}

.headerWrapper .informationalContainer .whereToContainer div.whereTo div .whereToLink {
  cursor: pointer;
  color: #378b99;
  line-height: 30px;
  margin-top: 5px;
  height: 35px;
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
  letter-spacing: 0.05em;
}

.headerWrapper .informationalContainer .whereToContainer div.whereTo div .whereToLink:after {
  position: absolute;
  background-color: #3d6db4;
  content: "";
  width: 100%;
  height: 1px;
  bottom: -1px;
  left: 0;
}

.headerWrapper .informationalContainer .whereToContainer div.whereTo div .whereToLink:hover {
  color: #3267b6;
}

.headerWrapper .informationalContainer .whereToContainer div.whereTo div .whereToLink:hover:after {
  -webkit-transition: width ease-in 0.3s 0.2s;
  transition: width ease-in 0.3s 0.2s;
  width: 100%;
  background-color: #fffef3;
  left: 100%;
}

.container2 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes opacityShift {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityShift {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes shadowShift {
  from {
    -webkit-box-shadow: 0 8px 38px rgba(26, 49, 56, 0), 0 6px 12px rgba(26, 49, 56, 0);
            box-shadow: 0 8px 38px rgba(26, 49, 56, 0), 0 6px 12px rgba(26, 49, 56, 0);
  }
  to {
    -webkit-box-shadow: 0 15px 38px rgba(0, 0, 0, 0.02), 0 10px 12px rgba(0, 0, 0, 0.02);
            box-shadow: 0 15px 38px rgba(0, 0, 0, 0.02), 0 10px 12px rgba(0, 0, 0, 0.02);
  }
}

@keyframes shadowShift {
  from {
    -webkit-box-shadow: 0 8px 38px rgba(26, 49, 56, 0), 0 6px 12px rgba(26, 49, 56, 0);
            box-shadow: 0 8px 38px rgba(26, 49, 56, 0), 0 6px 12px rgba(26, 49, 56, 0);
  }
  to {
    -webkit-box-shadow: 0 15px 38px rgba(0, 0, 0, 0.02), 0 10px 12px rgba(0, 0, 0, 0.02);
            box-shadow: 0 15px 38px rgba(0, 0, 0, 0.02), 0 10px 12px rgba(0, 0, 0, 0.02);
  }
}
/*# sourceMappingURL=landing.css.map */