@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600|Inknut+Antiqua:300|Old+Standard+TT&display=swap");

$rosenBrown: #64320f;
$backgroundColor: #fff2e6;
.leftSection {
  font-family: "America Expanded Medium";
  font-size: 1.5em;
  text-transform: uppercase;
  color: white;
}
.card {
  position: relative;
}
.headerWrapper {
  position: absolute;
  min-width: 900px;
  min-height: 400px;
  z-index: 298;
  left: 50%;
  top: 50%;
  transform: translate(-47%, -50%);
  // border: solid 1px #e0d3c6;
  // background: $backgroundColor;
  // animation: opacityShift 700ms, shadowShift 1s 700ms forwards ease-in;
  opacity: 1;
  overflow: hidden;
  // padding-top: 3em;
  // padding-bottom: 2.5em;

  .landingHeader {
    font-size: 9.5em;
    display: flex;
    height: 150px;
    justify-content: center;
    padding: 16px;
    overflow: hidden;
    color: $rosenBrown;
  }
  .landingmax {
    font-family: "RosenFont ExtraBlack";
    display: inline;
    text-transform: capitalize;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: $rosenBrown;
    background-image: url("https://i.imgur.com/ITjXTNl.jpg");
    letter-spacing: -0.009em;
    &:hover {
      -webkit-text-fill-color: transparent;
    }
  }
  .landingrosen {
    font-weight: default;
    font-family: RosenFont, "Arial", sans-serif;
    padding-left: 0.2em;
    text-transform: uppercase;
    position: relative;
    bottom: -5px;
    letter-spacing: -0.05em;
  }

  .informationalContainer {
    min-height: 12em;
    // width: 100%;
    .centerContainer {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      justify-content: space-between;
      padding-right: 7em;
      width: 900px;
    }
    .ipsumContainer {
      position: relative;
      // padding: 1em;
      width: 65%;
      height: 10.2em;
      left: 6em;
      // top: 2em;
      // border-right: solid 2px #fada96;
      z-index: 5;
      padding-right: 2em;
    }
    .rosenIpsum {
      position: relative;
      font-family: "RosenFont Italic", "Helvetica Neue", serif;
      // font-style: italic;
      font-size: 12.5em;
      word-wrap: break-word;
      font-weight: 400;
      color: white;
      top: -15px;
      height: 30px;
      line-height: 105%;
    }
    .rosenIpsum:nth-child(1) {
      //color: #8a8d54; from OKDRUGS!!! (don't delete just yet)
    }
    .rosenIpsum:nth-child(2) {
      //color: #f6ae4c; from OKDRUGS!!! (don't delete just yet)
    }
    .rosenIpsum:nth-child(3) {
      //color: #f07f6a; from OKDRUGS!!! (don't delete just yet)
    }
    .whereToContainer {
      font-family: "RosenFont", sans-serif;
      font-size: 1.5em;
      text-align: right;
      position: relative;
      // top: 25px;
      div.whereTo {
        overflow: hidden;
        div {
          overflow: hidden;
          position: relative;
          a.whereToLink {
            cursor: pointer;
            color: $rosenBrown;
            text-decoration: none;
            line-height: 35px;
            height: 35px;
            display: block;
            // transition: all 0.1s linear;
            overflow: hidden;
            text-transform: capitalize;
            letter-spacing: 0.05em;
            &:after {
              position: absolute;
              background-color: red;
              content: "";
              width: 100%;
              height: 1px;
              bottom: -1px;
              left: 0;
            }
            &:hover {
              color: red;
            }
            &:hover:after {
              transition: width ease-in 0.3s 0.2s;
              width: 100%;
              background-color: #fffef3;
              left: 100%;
            }
          }
        }
      }
    }
  }
}

// ============== the background mouseover effect element below ===========

.container2 {
  // background: #e7e5dd;
  position: absolute;
  // background: linear-gradient(0deg, rgb(253, 238, 224) 35%, #fce0c5 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // visibility: hidden;
}
.blob {
  // display: inline-block;
  // background: linear-gradient(
  //   to top right,
  //   rgba(255, 226, 249, 0.767),
  //   #f7d2cd
  // );
  // height: 3vw;
  // width: 10vw;
  // font-size: 60px;
  // // color: #c6e7a89c;
  // border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  // position: absolute;
  // background-position: center center;
  // background-repeat: no-repeat;
  // will-change: transform;
  // padding-bottom: 35px;
  // // filter: blur(30px) contrast(1.05);
  // transform: translate3d(1.88px, -103.28px, 0px);
  // z-index: 66;
  // animation: opacityShift 3s;
  // visibility: hidden;
}

.blocky {
  // display: inline-block;

  // font-family: "Segoe UI Emoji", sans-serif;
  // color: #fda36ee3;
  // text-align: right;
  // font-size: 40px;
  // position: absolute;
  // background-position: center center;
  // background-repeat: no-repeat;
  // will-change: transform;
  // height: 2vw;
  // width: 35vw;
  // border-radius: 96px 72px 48px 24px/24px 48px 72px 96px;
  // padding-bottom: 15px;
  // // filter: blur(20px) contrast(1.1);
  // z-index: 77;
  // transform: translate3d(25.3778px, -144.311px, 0px);
  // visibility: hidden;
}
@keyframes opacityShift {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shadowShift {
  from {
    box-shadow: 0 8px 38px rgba(26, 49, 56, 0), 0 6px 12px rgba(26, 49, 56, 0);
  }
  to {
    box-shadow: 0 15px 38px rgba(0, 0, 0, 0.02), 0 10px 12px rgba(0, 0, 0, 0.02);
  }
}
