@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600&display=swap");
$notchSize: 7px;
$rosenBrown: #64320f;
$backgroundColor: #fff2e6;

body {
  background: linear-gradient(349deg, #f8dfb0 1%, #d5ebff 90%);
}
#root {
  // background: -webkit-linear-gradient(
  //   349deg,
  //   #f8dfb0 10%,
  //   #fad6c1 20%,
  //   #d5ebff 90%
  // );
  // background: -moz-linear-gradient(
  //   349deg,
  //   #f8dfb0 10%,
  //   #fad6c1 20%,
  //   #d5ebff 90%
  // );
  // background: linear-gradient(349deg, #f8dfb0 10%, #fad6c1 20%, #d5ebff 90%);
  background: linear-gradient(349deg, #f8dfb0 1%, #d5ebff 90%);

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../assets/drawing3.svg) no-repeat;
    top: 50%;
    background-size: 100% 120%;
    animation-timing-function: ease-in;
    animation: opacityShift 4s;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.card::before {
  position: relative;
  background-repeat: no-repeat;
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 77;
}
.headerWrapper {
  position: absolute;
  min-width: 900px;
  min-height: 400px;
  z-index: 298;
  left: 50%;
  top: 50%;
  transform: translate(-47%, -50%);
  // border: solid 1px #e0d3c6;
  // background: $backgroundColor;
  // animation: opacityShift 700ms, shadowShift 1s 700ms forwards ease-in;
  opacity: 1;
  overflow: hidden;
  // padding-top: 3em;
  // padding-bottom: 2.5em;

  .landingHeader {
    font-size: 9.5em;
    display: flex;
    height: 150px;
    justify-content: center;
    padding: 16px;
    overflow: hidden;
    color: $rosenBrown;
  }
  .landingmax {
    font-family: "RosenFont ExtraBlack";
    display: inline;
    text-transform: capitalize;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: $rosenBrown;
    background-image: url("../assets/fieldOfColor.jpg");
    letter-spacing: -0.009em;
    &:hover {
      -webkit-text-fill-color: transparent;
    }
  }
  .landingrosen {
    font-weight: default;
    font-family: RosenFont, "Arial", sans-serif;
    padding-left: 0.2em;
    text-transform: uppercase;
    position: relative;
    bottom: -5px;
    letter-spacing: -0.05em;
  }

  .informationalContainer {
    min-height: 12em;
    // width: 100%;
    .centerContainer {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      justify-content: space-between;
      padding-right: 7.5em;
      width: 900px;
    }
    .ipsumContainer {
      visibility: hidden;
      position: relative;
      width: 70%;
      left: 6em;
      margin-top: 1.5em;
      margin-left: 1em;
      // top: 2em;
      // border-right: solid 2px #fada96;
      z-index: 5;
      display: flex;
      flex-direction: row;
      background-color: #e2c2ff;
    }
    .ipsumContainer:before,
    .ipsumContainer:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 100%;
      border-bottom: $notchSize solid #e2c2ff;
      border-left: $notchSize solid transparent;
      border-right: $notchSize solid transparent;
    }

    .ipsumContainer:after {
      bottom: auto;
      top: 100%;
      border-bottom: none;
      border-top: $notchSize solid #e2c2ff;
    }
    .rosenIpsum {
      position: relative;
      height: 176px;
      background-size: contain;
      top: -15px;
      background-repeat: no-repeat;
    }

    .whereToContainer {
      font-size: 1.7em;
      position: relative;
      right: -2px;
      top: 6px;
      div {
        text-align: right;
        div {
          overflow: hidden;
          position: relative;
          .whereToLink {
            color: #708090;

            margin-top: 5px;
            height: 35px;
            letter-spacing: 0.05em;
            text-align: right;
          }
        }
      }
    }
  }
}
.underlined {
  color: #708090;
  font-family: "Bossa Regular", sans-serif;
  line-height: 30px;
  flex: 1;
  text-decoration: none;
  background-position: 0 1.2em;
  background-size: 0% 100%;
  -moz-background-size: 0% 100%;
  background-repeat: no-repeat;
  left: 0px;
  display: inline-block;
  transition: 0.5s;
  &:hover {
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
  }
  &--thin {
    background-image: linear-gradient(to left, #708090 0, #708090 100%);
  }
}
// ============== the background mouseover effect element below ===========

.container2 {
  // background: #e7e5dd;
  position: absolute;
  // background: linear-gradient(0deg, rgb(253, 238, 224) 35%, #fce0c5 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // visibility: hidden;
}
.blob {
  // display: inline-block;
  // background: linear-gradient(
  //   to top right,
  //   rgba(255, 226, 249, 0.767),
  //   #f7d2cd
  // );
  // height: 3vw;
  // width: 10vw;
  // font-size: 60px;
  // // color: #c6e7a89c;
  // border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  // position: absolute;
  // background-position: center center;
  // background-repeat: no-repeat;
  // will-change: transform;
  // padding-bottom: 35px;
  // // filter: blur(30px) contrast(1.05);
  // transform: translate3d(1.88px, -103.28px, 0px);
  // z-index: 66;
  // animation: opacityShift 3s;
  // visibility: hidden;
}

.blocky {
  // display: inline-block;

  // font-family: "Segoe UI Emoji", sans-serif;
  // color: #fda36ee3;
  // text-align: right;
  // font-size: 40px;
  // position: absolute;
  // background-position: center center;
  // background-repeat: no-repeat;
  // will-change: transform;
  // height: 2vw;
  // width: 35vw;
  // border-radius: 96px 72px 48px 24px/24px 48px 72px 96px;
  // padding-bottom: 15px;
  // // filter: blur(20px) contrast(1.1);
  // z-index: 77;
  // transform: translate3d(25.3778px, -144.311px, 0px);
  // visibility: hidden;
}
@keyframes opacityShift {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shadowShift {
  from {
    box-shadow: 0 8px 38px rgba(26, 49, 56, 0), 0 6px 12px rgba(26, 49, 56, 0);
  }
  to {
    box-shadow: 0 15px 38px rgba(0, 0, 0, 0.02), 0 10px 12px rgba(0, 0, 0, 0.02);
  }
}
