@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600&display=swap");

$rosenBrown: #64320f;

.headerWrapper {
  position: absolute;
  min-width: 900px;
  min-height: 400px;
  z-index: 298;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  // border: solid 1px #e0d3c6;
  background-color: #faecde;
  animation-delay: 750ms;
  animation: opacityShift 1s;
  overflow: hidden;
  padding-top: 3em;
  padding-bottom: 2.5em;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.03), 0 15px 12px rgba(0, 0, 0, 0.01);
  .landingHeader {
    font-size: 7.6em;
    display: flex;
    height: 130px;
    justify-content: center;
    padding: 16px;
    overflow: hidden;
    color: $rosenBrown;
  }
  .landingmax {
    font-family: "RosenFont ExtraBlack";
    text-transform: capitalize;
    cursor: pointer;
    background-size: cover;
    background-image: url("https://i.imgur.com/ITjXTNl.jpg");
    background-position: center;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: $rosenBrown;
    &:hover {
      -webkit-text-fill-color: transparent;
    }
  }
  .landingrosen {
    font-weight: default;
    font-family: RosenFont, "Arial", sans-serif;
    padding-left: 0.6em;
    text-transform: uppercase;
  }

  .informationalContainer {
    min-height: 12em;
    // width: 100%;
    .centerContainer {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      justify-content: space-between;
      padding-right: 7em;
    }
    .ipsumContainer {
      position: relative;
      // padding: 1em;
      width: 60%;
      height: 10.2em;
      left: 6.2em;
      top: 2em;
      border-right: solid 1px #e69c88;
      padding-right: 2em;
    }
    .rosenIpsum {
      position: relative;
      font-family: "Work Sans", sans-serif;
      font-size: 1.2em;
      font-weight: 400;
      color: #ef7351;
      // top: 10px;
      height: 30px;
      line-height: 30px;
    }
    .rosenIpsum:nth-child(1) {
      //color: #8a8d54; from OKDRUGS!!! (don't delete just yet)
    }
    .rosenIpsum:nth-child(2) {
      //color: #f6ae4c; from OKDRUGS!!! (don't delete just yet)
    }
    .rosenIpsum:nth-child(3) {
      //color: #f07f6a; from OKDRUGS!!! (don't delete just yet)
    }
    .whereToContainer {
      font-family: "RosenFont", sans-serif;
      font-size: 1.4em;
      text-align: right;
      font-weight: 400;
      position: relative;
      top: 25px;
      div.whereTo {
        overflow: hidden;
        div {
          overflow: hidden;
          position: relative;
          a.whereToLink {
            cursor: pointer;
            color: #64320f;
            text-decoration: none;
            line-height: 35px;
            height: 35px;
            display: block;
            // transition: all 0.1s linear;
            overflow: hidden;
            text-transform: capitalize;
            &:after {
              position: absolute;
              background-color: #20201e;
              content: "";
              width: 100%;
              height: 1px;
              bottom: -1px;
              left: 0;
            }
            &:hover {
              color: tomato;
            }
            &:hover:after {
              transition: width ease-in 0.3s 0.2s;
              width: 100%;
              background-color: #fffef3;
              left: 100%;
            }
          }
        }
      }
    }
  }
}

// ============== the background mouseover effect element below ===========

.container2 {
  // background: #e7e5dd;
  position: absolute;
  // background: linear-gradient(0deg, rgb(253, 238, 224) 35%, #fce0c5 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // visibility: hidden;
}
.blob {
  display: inline-block;
  background: linear-gradient(
    to top right,
    rgba(255, 226, 249, 0.767),
    #f7d2cd
  );
  height: 3vw;
  width: 10vw;
  font-size: 60px;
  // color: #c6e7a89c;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
  padding-bottom: 35px;
  // filter: blur(30px) contrast(1.05);
  transform: translate3d(1.88px, -103.28px, 0px);
  z-index: 66;
  animation: opacityShift 3s;
  visibility: hidden;
}

.blocky {
  display: inline-block;

  font-family: "Segoe UI Emoji", sans-serif;
  color: #fda36ee3;
  text-align: right;
  font-size: 40px;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
  height: 2vw;
  width: 35vw;
  border-radius: 96px 72px 48px 24px/24px 48px 72px 96px;
  padding-bottom: 15px;
  // filter: blur(20px) contrast(1.1);
  z-index: 77;
  transform: translate3d(25.3778px, -144.311px, 0px);
  visibility: hidden;
}
@keyframes opacityShift {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
