@import url("https://fonts.googleapis.com/css?family=Galdeano|Work+Sans|Assistant|Libre+Caslon+Display&display=swap");

.headerWrapper {
  position: absolute;
  z-index: 298;
  left: 25%;
  top: 25%;
  color: rgb(59, 43, 17);
}
.landingHeader {
  font-family: "Galdeano", sans-serif;
  font-size: 9vw;
  display: inline-flex;
}
.landingMax {
  font-weight: 900;
  letter-spacing: 0.14em;
}
.informationalContainer {
  height: 100%;
  color: rgb(59, 43, 17);
}
.landingROSEN {
  padding-left: 5vw;
  letter-spacing: 0.07em;
}
.rosenIpsum {
  font-family: "Assistant", serif;
  font-size: 2em;
  line-height: 110%;
}
.rosenIpsum:first-of-type {
  background-color: black;
}
.maxLocationContainer {
  display: flex;
  flex-direction: column;
  float: left;
  padding-right: 1vw;
}
.maxLocation0 {
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 0.85em;
  padding-inline-start: 0.5em;
}
.maxLocation1 {
  @extend .maxLocation0;
  padding-inline-start: 3vw;
}

// ============== the background mouseover effect element below ===========
.cardComponent {
  position: absolute;
}
.blob {
  display: inline-block;
  background-image: linear-gradient(to right, #fdf1ed, white 90%);
  height: 12vw;
  width: 55vw;
  font-size: 60px;
  color: #c6e7a89c;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
  padding-bottom: 35px;
  filter: blur(30px) contrast(1.05);
  transform: rotate(-5deg);
  z-index: 66;
  animation: opacityShift 3s;
}
.blobBaby {
  color: yellow;
}
.blocky {
  display: inline-block;
  background: linear-gradient(
    to top right,
    rgba(255, 226, 249, 0.767),
    #f7d2cd
  );
  font-family: "Segoe UI Emoji", sans-serif;
  color: #fda36ee3;
  text-align: right;
  font-size: 40px;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
  height: 2vw;
  width: 35vw;
  border-radius: 96px 72px 48px 24px/24px 48px 72px 96px;
  padding-bottom: 15px;
  filter: blur(20px) contrast(1.1);
  z-index: 77;
  animation: opacityShift 4s;
}
.blockyBaby {
  padding-top: 10vw;
  padding-right: 22vw;
  color: rgb(209, 154, 223);
}
.cloud {
  display: inline-block;
  z-index: 199;
  background: #dcd0ffb6;
  color: #8fe7c2;
  height: 1vw;
  width: 10vw;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
  border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;
  padding-bottom: 50px;

  animation: opacityPartialShift 3s, contrastShift 5s;
  filter: blur(9px) contrast(1.6);
}
.scripty {
  z-index: 299;
  display: inline-block;
  color: #ff5e00;
  font-size: 40px;
  height: 8vw;
  width: 55vw;
  background: transparent;
  text-align: right;
  will-change: transform;
  filter: blur(9px) contrast(8) !important;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  position: absolute;
  padding-bottom: 35px;
  animation: opacityShift 5s;
}
// #root {
//   overflow: hidden;
// }
.container2 {
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes opacityShift {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacityPartialShift {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}
@keyframes contrastShift {
  from {
    filter: blur(9px) contrast(1.05);
  }
  to {
    filter: blur(9px) contrast(1.5);
  }
}
