@import url("https://fonts.googleapis.com/css2?family=Gotu&family=Work+Sans:wght@300;400&display=swap");
$rosenBrown: #64320f;
$rosenBrownL: #1b1816;

.main {
  min-height: 100vh;
  width: 80vw;
}
hr {
  background-color: $rosenBrownL;
  border: none;
  height: 1px;
  opacity: 0.8;
}
.main,
body,
html {
  background: #f3ebe4 !important;
}

p {
  // color: $rosenBrownL !important;
}
.hidden {
  display: none;
}
section.mainContent div p,
.videoDescription {
  color: #74655a;
}

.App {
  display: flex;
  justify-content: center;
  .innerContainer {
    // background-color: white;
    z-index: 7;
    section.topNavigation {
      z-index: 99;
      border-bottom: 1px solid #e6dcd4;
      display: flex;
      position: sticky;
      position: -webkit-sticky;
      background-color: #f3ebe4;
      top: 0;
      width: inherit;
      padding: 1.5em 0.5em 1.2em 0.5em;
      .mainMax {
        position: relative;
        font-size: 2.2em;
        line-height: 60%;
        font-family: "RosenFont ExtraBlack";
        display: inline;
        top: 3px;
        text-transform: capitalize;
        letter-spacing: -0.009em;
        color: $rosenBrown;
        padding-left: 15px;
        background-size: 120% 120%;
        background-position: center;
        cursor: none;
      }
      .inner {
        border-radius: 3px;
        width: 190px;
        clip-path: circle(30px at 85% 10%);
        transition: all 0.3s ease-in-out;
        position: absolute;
        right: 15px;
        cursor: pointer;
        top: 18px;
        box-shadow: 8px 8px 20px 0px #d3cac300;
        border: 1px solid transparent;
        z-index: 7;
        .svg-1 {
          float: right;
          display: block;
          padding-right: 6px;
          z-index: 8;
          path {
            fill: none;
            stroke: $rosenBrown;
            transition: 0.25s ease;
            stroke-width: 2px;
          }
        }
        &:hover {
          clip-path: circle(85%);
          background: #f8f0e8;
          border: 1px solid #e6dcd4;
          // box-shadow: 8px 8px 20px 0px #cac2bb54;
          .svg-1 {
            path {
              stroke: #d3c9c0;
            }
            // #top {
            //   d: path("M10,11 L35,34");
            // }
            // #bottom {
            //   d: path("M10,34 L35,11");
            // }
          }
          #navigationContainer {
            border-top: 1px solid #e6dcd4;
          }
        }

        #navigationContainer {
          z-index: 9;
          margin-top: 2.7em;
          padding-top: 2.3em;
          position: relative;
          padding-right: 1em;
          text-align: right;
          border-top: 1px solid transparent;
          transition: all 250ms ease;
          .navLink {
            text-decoration: none;
            color: $rosenBrownL;
            font-family: "Bossa Expanded Light", sans-serif;
            font-size: 1.2em;
            display: block;
            transition: color 250ms ease;
            &:hover {
              color: #786f7e;
            }
            &:last-child {
              padding-bottom: 0.7em;
            }
          }
        }
      }
    }
    section.mainContent {
      z-index: 98;
      div {
        .topBlock {
          width: 100%;
          height: 20em;
          box-shadow: 0 1px 0 0 #e6dcd4;
          display: flex;
          flex-direction: row;
          .imagesWrapper {
            width: 50%;
            height: 100%;
            position: relative;
            flex: 1;
            img {
              position: absolute;
              height: auto;
              width: 100%;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
            .img-1 {
              animation: showDontShow 12s infinite;
              visibility: visible;
            }
            .img-2 {
              animation: showDontShow 12s infinite;
              animation-delay: 4s;
              visibility: hidden;
            }
            .img-3 {
              animation: showDontShow 12s infinite;
              animation-delay: 8s;
              visibility: hidden;
            }
          }
          .titleWrapper {
            box-shadow: 1px 0 0 0 #e6dcd4;
            width: 50%;
            height: 100%;
            display: flex;
            .pageTitle {
              position: relative;
              margin: auto;
              text-align: center;
              font-size: 3.5em;
              font-family: "Agrandir Grand Heavy", sans-serif;
              color: white;
              letter-spacing: 0.05em;
              -webkit-text-stroke-width: 0.015em;
              -webkit-text-stroke-color: #e6dcd4;
              text-shadow: 1px 1px 0 rgba(227, 218, 219, 1),
                3px 3px 0 rgba(227, 218, 219, 0.9),
                5px 5px 0 rgba(227, 218, 219, 0.8),
                7px 7px 0 rgba(227, 218, 219, 0.7),
                9px 9px 0 rgba(227, 218, 219, 0.6),
                11px 11px 0 rgba(227, 218, 219, 0.5),
                13px 13px 0 rgba(227, 218, 219, 0.4),
                15px 15px 0 rgba(227, 218, 219, 0.3),
                17px 17px 0 rgba(227, 218, 219, 0.2),
                19px 19px 0 rgba(227, 218, 219, 0.1),
                21px 21px 0 rgba(227, 218, 219, 0.08),
                22px 22px 0 rgba(227, 218, 219, 0.07),
                23px 23px 0 rgba(227, 218, 219, 0.06),
                25px 25px 0 rgba(227, 218, 219, 0.04),
                27px 27px 0 rgba(227, 218, 219, 0.02),
                28px 28px 0 rgba(170, 28, 44, 0.01),
                29px 29px 0 rgba(227, 218, 219, 0);
            }
          }
        }

        p {
          font-family: "Work Sans", sans-serif;
          font-size: 1.2em;
        }
        .videoSubRoutesContainer {
          padding-top: 0.5em;
          padding-bottom: 0.5em;
          font-size: 1.2em;
          display: flex;
          justify-content: space-around;
          margin-top: 2em;
          a.subRoute {
            letter-spacing: 0.03em;
            display: inline-block;
            font-family: "Bossa Expanded Light", sans-serif;
            text-decoration: none;
            color: $rosenBrownL;
            position: relative;
            transition: 250ms all ease-in-out;
            &:hover,
            &:focus {
              color: #c46133;
            }
          }
        }
        div.subsection {
          display: flex;
          justify-content: center;
          flex-direction: column;
          padding-top: 2em;
          color: #6e645c;
          p {
            font-family: "Work Sans", sans-serif;
            font-size: 1em;
            padding-bottom: 2em;
          }
          div.lesserVideosContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            div.lesserVideo {
              p.videoDescriptionSmaller {
                font-size: 1em;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .container {
    flex-wrap: nowrap;
  }

  .left {
    flex-basis: 200px;
    order: 1;
  }
  .right {
    flex-basis: 200px;
    order: 3;
  }
}
@keyframes showDontShow {
  0% {
    visibility: visible;
  }
  33.4% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
