@import url("https://fonts.googleapis.com/css2?family=Gotu&family=Work+Sans:wght@300;400&display=swap");
$rosenBrown: #64320f;
$rosenBrownL: #1b1816;

.main {
  min-height: 100vh;
  width: 80vw;
}
hr {
  background-color: $rosenBrownL;
  border: none;
  height: 1px;
  opacity: 0.8;
}
.main,
body,
html {
  background: #f3ebe4 !important;
}

p {
  // color: $rosenBrownL !important;
}
.hidden {
  display: none;
}
section.mainContent div p,
.videoDescription {
  color: #74655a;
}

.App {
  display: flex;
  justify-content: center;
  .innerContainer {
    // background-color: white;
    z-index: 7;
    section.topNavigation {
      z-index: 99;
      border-bottom: 1px solid #ece3db;
      display: flex;
      position: relative;
      width: inherit;
      padding: 1.5em 0.5em 1.2em 0.5em;
      .mainMax {
        position: relative;
        font-size: 2.2em;
        line-height: 60%;
        font-family: "RosenFont ExtraBlack";
        display: inline;
        top: 3px;
        text-transform: capitalize;
        text-decoration: none;
        cursor: pointer;
        letter-spacing: -0.009em;
        color: $rosenBrown;
        padding-left: 15px;
        background-size: 120% 120%;
        background-position: center;
      }
      .inner {
        border-radius: 3px;
        width: 190px;
        clip-path: circle(30px at 85% 10%);
        transition: all 0.3s ease-in-out;
        position: absolute;
        right: 15px;
        cursor: pointer;
        top: 20px;
        box-shadow: 8px 8px 20px 0px #d3cac300;
        border: 1px solid transparent;
        .svg-1 {
          float: right;
          display: block;
          padding-right: 6px;
          path {
            fill: none;
            stroke: $rosenBrown;
            transition: 0.25s ease;
            stroke-width: 2px;
          }
        }
        &:hover {
          clip-path: circle(85%);
          background: #f8f0e8;
          border: 1px solid #e6dcd4;
          box-shadow: 0px 8px 20px 0px #d3cac380;
          .svg-1 {
            path {
              stroke: #d3c9c0;
            }
            // #top {
            //   d: path("M10,11 L35,34");
            // }
            // #bottom {
            //   d: path("M10,34 L35,11");
            // }
          }
          #navigationContainer {
            border-top: 1px solid #e6dcd4;
          }
        }

        #navigationContainer {
          margin-top: 2.7em;
          padding-top: 2.3em;
          position: relative;
          padding-right: 1em;
          text-align: right;
          border-top: 1px solid transparent;
          transition: all 250ms ease;
          .navLink {
            text-decoration: none;
            color: $rosenBrownL;
            font-family: "Bossa Expanded Light", sans-serif;
            font-size: 1.2em;
            display: block;
            transition: color 250ms ease;
            &:hover {
              color: #786f7e;
            }
            &:last-child {
              padding-bottom: 0.7em;
            }
          }
        }
      }
    }
    section.mainContent {
      padding-top: 4em;
      z-index: 98;
      div {
        .pageTitle {
          position: relative;
          font-size: 1.5em;
          margin-top: 0em;
          margin-bottom: 0.6em;
          padding-left: 10px;
          font-family: "Agrandir Grand Heavy", sans-serif;
          color: #f8f0e8;
          letter-spacing: 0.05em;
          transform: scale(4);
          transform-origin: 1% 50%;
          left: 20px;
          -webkit-text-stroke-width: 0.015em;
          -webkit-text-stroke-color: #e6dcd4;
        }
        p {
          font-family: "Work Sans", sans-serif;
          font-size: 1.2em;
        }
        .videoSubRoutesContainer {
          border-radius: 3px;
          // background-color: #ebe9e9;
          // border: 1px solid $rosenBrownL;
          // margin-top: -0.25em;
          margin-bottom: -0.12em;
          padding-left: 1.7em;
          padding-right: 1.7em;
          padding-top: 0.5em;
          padding-bottom: 0.5em;
          font-size: 1.2em;
          display: flex;
          justify-content: space-between;

          // transform: rotate(8deg);
          a.subRoute {
            letter-spacing: 0.03em;
            display: inline-block;
            font-family: "Bossa Expanded Light", sans-serif;
            text-decoration: none;
            color: $rosenBrownL;
            position: relative;
            transition: 0.2s all ease-in-out;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-transform-origin: 50% -50% 50%;
            transform-origin: 50% -50% 50%;
            &:hover,
            &:focus {
              color: #c46133;
            }
          }
        }
        div.subsection {
          display: flex;
          justify-content: center;
          flex-direction: column;
          padding-top: 4em;
          color: #6e645c;
          p {
            font-family: "Work Sans", sans-serif;
            font-size: 1em;
            padding-bottom: 2em;
          }
          div.lesserVideosContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            div.lesserVideo {
              p.videoDescriptionSmaller {
                font-size: 1em;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .container {
    flex-wrap: nowrap;
  }

  .left {
    flex-basis: 200px;
    order: 1;
  }
  .right {
    flex-basis: 200px;
    order: 3;
  }
}
