$rosenBrown: #64320f;
$rosenBrownL: #24201d;
.main {
  min-height: 100vh;
  min-width: 100vw;
}
hr {
  background-color: $rosenBrownL;
  border: none;
  height: 1px;
  opacity: 0.8;
}
.main,
body,
html {
  background: #f3ebe4 !important;
}
h1.pageTitle,
p {
  color: $rosenBrownL !important;
}

section.mainContent div p,
.videoDescription {
  color: $rosenBrownL;
}
.App {
  .innerContainer {
    width: 100%;
    z-index: 7;
    display: flex;
    align-items: stretch;
    &.hidden {
      display: none;
    }
    section.sideNavigation {
      .mainMax {
        position: relative;
        font-size: 3.2em;
        line-height: 60%;
        font-family: "RosenFont ExtraBlack";
        display: inline;
        left: -5px;
        top: 5px;
        text-transform: capitalize;
        text-decoration: none;
        cursor: pointer;
        letter-spacing: -0.009em;
        -webkit-background-clip: text;
        -webkit-text-fill-color: $rosenBrown;
        background-image: url("../assets/fieldOfColor.jpg");
        background-size: 110% 110%;
        background-position: center;
        &:hover {
          -webkit-text-fill-color: transparent;
        }
      }
      flex: 0.9;
      font-family: "Bossa Expanded Light", sans-serif;
      font-size: 1.2em;
      padding-left: 1.75em;
      padding-top: 1.8em;
      .maxSpacer {
        position: relative;
        height: 67vh;
        width: 100%;
      }
      #navigationContainer {
        transition: 400ms ease-in-out;
        position: -webkit-sticky;
        position: sticky;
        top: 1.8em;
        // opacity: 0.6;

        div {
          .navLink {
            display: block;
            text-decoration: none;
            color: $rosenBrownL;
            &:hover {
              color: #006845;
            }
          }
        }
      }
    }
    section.mainContent {
      padding-top: 5em;
      flex: 4;
      padding-right: 8em;
      padding-left: 1.3em;
      div {
        .pageTitle {
          font-size: 5em;
          margin-top: 1em;
          margin-bottom: 0.6em;
          font-family: "RosenFont", sans-serif;
          color: $rosenBrownL;
          letter-spacing: 0.05em;
        }
        p {
          font-family: "Bossa Expanded Light";
        }
        .videoSubRoutesContainer {
          border-radius: 3px;
          background-color: #ebe9e9;
          // border: 1px solid $rosenBrownL;
          margin-top: -0.25em;
          margin-bottom: -0.12em;
          padding-left: 1.7em;
          padding-right: 1.7em;
          padding-top: 0.5em;
          padding-bottom: 0.5em;
          font-size: 1em;
          display: flex;
          justify-content: space-between;

          // transform: rotate(8deg);
          a.subRoute {
            letter-spacing: 0.03em;
            display: inline-block;
            font-family: "Bossa Regular", sans-serif;
            text-decoration: none;
            color: $rosenBrownL;
            position: relative;
            transition: 0.2s all ease-in-out;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-transform-origin: 50% -50% 50%;
            transform-origin: 50% -50% 50%;
            &:hover,
            &:focus {
              color: #c46133;
            }
            &:nth-child(1) {
              // transform: rotateX(50deg) translateZ(20px);
            }
            &:nth-child(2) {
              // top: 0.58em;
              // transform: rotateX(35deg) translateZ(20px);
            }
            &:nth-child(3) {
              // top: 0.66em;
              // transform: rotateX(-35deg) translateZ(20px);
            }
            &:nth-child(4) {
              // top: 1em;
              // transform: rotateX(-50deg) translateZ(20px);
            }
          }
        }
        div.subsection {
          display: flex;
          justify-content: center;
          flex-direction: column;
          padding-top: 4em;
          p {
            font-family: "Bossa Regular", sans-serif;
            font-size: 1.2em;
            padding-bottom: 2em;
          }
          div.lesserVideosContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            div.lesserVideo {
              p.videoDescriptionSmaller {
                font-size: 1em;
              }
            }
          }
        }
      }
    }
  }
}

img {
  align-self: flex-start;
}

.left {
  order: 1;
  background: red;
  flex-basis: 100%;
  height: 300px;
}
.right {
  order: 2;
  background: yellow;
  flex-basis: 100%;
  height: 300px;
}
@media screen and (min-width: 600px) {
  .container {
    flex-wrap: nowrap;
  }

  .left {
    flex-basis: 200px;
    order: 1;
  }
  .right {
    flex-basis: 200px;
    order: 3;
  }
}
