.main {
  min-height: 100vh;
  min-width: 100vw;
}

hr {
  background-color: #24201d;
  border: none;
  height: 1px;
  opacity: 0.8;
}

.main,
body,
html {
  background: #f3ebe4 !important;
}

h1.pageTitle,
p {
  color: #24201d !important;
}

section.mainContent div p,
.videoDescription {
  color: #24201d;
}

.App .innerContainer {
  width: 100%;
  z-index: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.App .innerContainer.hidden {
  display: none;
}

.App .innerContainer section.sideNavigation {
  -webkit-box-flex: 0.9;
      -ms-flex: 0.9;
          flex: 0.9;
  font-family: "Bossa Expanded Light", sans-serif;
  font-size: 1.2em;
  padding-left: 1.75em;
  padding-top: 1.8em;
}

.App .innerContainer section.sideNavigation .mainMax {
  position: relative;
  font-size: 3.2em;
  line-height: 60%;
  font-family: "RosenFont ExtraBlack";
  display: inline;
  left: -5px;
  top: 5px;
  text-transform: capitalize;
  cursor: pointer;
  letter-spacing: -0.009em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #64320f;
  background-image: url("../assets/fieldOfColor.jpg");
  background-size: 110% 110%;
  background-position: center;
}

.App .innerContainer section.sideNavigation .mainMax:hover {
  -webkit-text-fill-color: transparent;
}

.App .innerContainer section.sideNavigation .maxSpacer {
  position: relative;
  height: 67vh;
  width: 100%;
}

.App .innerContainer section.sideNavigation #navigationContainer {
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
  position: -webkit-sticky;
  position: sticky;
  top: 1.8em;
}

.App .innerContainer section.sideNavigation #navigationContainer div .navLink {
  display: block;
  text-decoration: none;
  color: #24201d;
}

.App .innerContainer section.sideNavigation #navigationContainer div .navLink:hover {
  color: #006845;
}

.App .innerContainer section.mainContent {
  padding-top: 5em;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  padding-right: 8em;
  padding-left: 1.3em;
}

.App .innerContainer section.mainContent div .pageTitle {
  font-size: 5em;
  margin-top: 1em;
  margin-bottom: 0.6em;
  font-family: "RosenFont", sans-serif;
  color: #24201d;
  letter-spacing: 0.05em;
}

.App .innerContainer section.mainContent div p {
  font-family: "Bossa Expanded Light";
}

.App .innerContainer section.mainContent div .videoSubRoutesContainer {
  border-radius: 3px;
  background-color: #ebe9e9;
  margin-top: -0.25em;
  margin-bottom: -0.12em;
  padding-left: 1.7em;
  padding-right: 1.7em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .innerContainer section.mainContent div .videoSubRoutesContainer a.subRoute {
  letter-spacing: 0.03em;
  display: inline-block;
  font-family: "Bossa Regular", sans-serif;
  text-decoration: none;
  color: #24201d;
  position: relative;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 50% -50% 50%;
  transform-origin: 50% -50% 50%;
}

.App .innerContainer section.mainContent div .videoSubRoutesContainer a.subRoute:hover, .App .innerContainer section.mainContent div .videoSubRoutesContainer a.subRoute:focus {
  color: #c46133;
}

.App .innerContainer section.mainContent div div.subsection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 4em;
}

.App .innerContainer section.mainContent div div.subsection p {
  font-family: "Bossa Regular", sans-serif;
  font-size: 1.2em;
  padding-bottom: 2em;
}

.App .innerContainer section.mainContent div div.subsection div.lesserVideosContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.App .innerContainer section.mainContent div div.subsection div.lesserVideosContainer div.lesserVideo p.videoDescriptionSmaller {
  font-size: 1em;
}

img {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.left {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  background: red;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 300px;
}

.right {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background: yellow;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 300px;
}

@media screen and (min-width: 600px) {
  .container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .left {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .right {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
/*# sourceMappingURL=main.css.map */