$rosenBrown: #64320f;

div.App {
  div.main {
    width: 100%;
    z-index: 7;
    display: flex;
    align-items: stretch;
    section.sideNavigation {
      flex: 0.9;
      // color: rgb(34, 34, 34);
      font-family: "Bossa Regular", sans-serif;
      font-size: 1.4em;
      padding-left: 1.75em;
      padding-top: 1.8em;
      .maxSpacer {
        position: relative;
        height: 68vh;
        width: 100%;
      }
      #navigationContainer {
        transition: 400ms ease-in-out;
        position: -webkit-sticky;
        position: sticky;
        top: 1.8em;
        opacity: 0.6;
        div {
          .navLink {
            display: block;
            text-decoration: none;
          }
        }
      }
    }
    section.mainContent {
      flex: 4;
      padding-right: 8em;
      padding-left: 1.3em;
      div {
        .pageTitle {
          font-size: 6em;
          margin-top: 1em;
          margin-bottom: 0.6em;
          font-family: "RosenFont", sans-serif;
          color: white;
          letter-spacing: 0.05em;
        }
        .videoSubRoutesContainer {
          padding-top: 0em;
          padding-bottom: 0em;
          font-size: 3em;
          display: flex;
          justify-content: space-between;
          height: 3em;

          // transform: rotate(8deg);
          a.subRoute {
            letter-spacing: 0.03em;
            display: inline-block;
            font-family: "Bossa Regular", sans-serif;
            text-decoration: none;
            color: white;
            position: relative;
            transition: 0.2s all ease-in-out;
            &:hover,
            &:focus {
              color: #f1bbbb;
            }
            &:nth-child(2) {
              top: 0.55em;
            }
            &:nth-child(3) {
              top: 1em;
            }
            &:nth-child(4) {
              top: 1.5em;
            }
          }
        }
        div.subsection {
          display: flex;
          justify-content: center;
          flex-direction: column;
          padding-top: 4em;
          p {
            font-family: "Work Sans", sans-serif;
            font-size: 1.2em;
            padding-bottom: 2em;
          }
          div.lesserVideosContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            div.lesserVideo {
              p.videoDescriptionSmaller {
                font-size: 1em;
              }
            }
          }
        }
      }
    }
  }
}

img {
  align-self: flex-start;
}

.left {
  order: 1;
  background: red;
  flex-basis: 100%;
  height: 300px;
}
.right {
  order: 2;
  background: yellow;
  flex-basis: 100%;
  height: 300px;
}
@media screen and (min-width: 600px) {
  .container {
    flex-wrap: nowrap;
  }

  .left {
    flex-basis: 200px;
    order: 1;
  }
  .right {
    flex-basis: 200px;
    order: 3;
  }
}
