$rosenBrown: #64320f;
section.sideNavigation {
  flex: 0.9;
  color: red;
  font-family: "America Extended Regular";
  font-size: 1.4em;
  padding-left: 1.75em;
  padding-top: 1.8em;

  #navigationContainer {
    transition: 400ms ease-in-out;
    position: -webkit-sticky;
    position: sticky;
    top: 1.8em;
  }
  a {
    text-decoration: none;
    &:visited {
      color: #251a10;
      color: red;
    }
  }
}
.maxSpacer {
  position: relative;
  height: 68vh;
  width: 100%;
}
.navLink {
  display: block;
}
.pageTitle {
  font-size: 5em;
  margin-top: 1em;
  margin-bottom: 0.6em;
  font-family: "RosenFont", sans-serif;
  letter-spacing: 0.05em;
  color: $rosenBrown;
}
.App .main {
  z-index: 7;
  display: flex;
  align-items: stretch;
}
section.mainContent {
  flex: 4;
  padding-right: 8em;
  padding-left: 1.2em;
  div {
    flex-direction: column;
    p {
      font-family: "America Extended Regular", sans-serif;
      font-size: 1.3em;
      color: #251a10;
      padding-bottom: 2em;
    }
  }
}
img {
  align-self: flex-start;
}
body {
  background: unset;
}
#root {
  background: unset;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: unset;
    top: 50%;
    background-size: 100% 120%;
    animation-timing-function: ease-in;
    animation: opacityShift 4s;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
