div.App div.main {
  width: 100%;
  z-index: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

div.App div.main section.sideNavigation {
  -webkit-box-flex: 0.9;
      -ms-flex: 0.9;
          flex: 0.9;
  font-family: "Bossa Regular", sans-serif;
  font-size: 1.4em;
  padding-left: 1.75em;
  padding-top: 1.8em;
}

div.App div.main section.sideNavigation .maxSpacer {
  position: relative;
  height: 68vh;
  width: 100%;
}

div.App div.main section.sideNavigation #navigationContainer {
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
  position: -webkit-sticky;
  position: sticky;
  top: 1.8em;
  opacity: 0.6;
}

div.App div.main section.sideNavigation #navigationContainer div .navLink {
  display: block;
  text-decoration: none;
}

div.App div.main section.mainContent {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  padding-right: 8em;
  padding-left: 1.3em;
}

div.App div.main section.mainContent div .pageTitle {
  font-size: 6em;
  margin-top: 1em;
  margin-bottom: 0.6em;
  font-family: "RosenFont", sans-serif;
  color: white;
  letter-spacing: 0.05em;
}

div.App div.main section.mainContent div .videoSubRoutesContainer {
  padding-top: 0em;
  padding-bottom: 0em;
  font-size: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 3em;
}

div.App div.main section.mainContent div .videoSubRoutesContainer a.subRoute {
  letter-spacing: 0.03em;
  display: inline-block;
  font-family: "Bossa Regular", sans-serif;
  text-decoration: none;
  color: white;
  position: relative;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

div.App div.main section.mainContent div .videoSubRoutesContainer a.subRoute:hover, div.App div.main section.mainContent div .videoSubRoutesContainer a.subRoute:focus {
  color: #f1bbbb;
}

div.App div.main section.mainContent div .videoSubRoutesContainer a.subRoute:nth-child(2) {
  top: 0.55em;
}

div.App div.main section.mainContent div .videoSubRoutesContainer a.subRoute:nth-child(3) {
  top: 1em;
}

div.App div.main section.mainContent div .videoSubRoutesContainer a.subRoute:nth-child(4) {
  top: 1.5em;
}

div.App div.main section.mainContent div div.subsection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 4em;
}

div.App div.main section.mainContent div div.subsection p {
  font-family: "Work Sans", sans-serif;
  font-size: 1.2em;
  padding-bottom: 2em;
}

div.App div.main section.mainContent div div.subsection div.lesserVideosContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div.App div.main section.mainContent div div.subsection div.lesserVideosContainer div.lesserVideo p.videoDescriptionSmaller {
  font-size: 1em;
}

img {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.left {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  background: red;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 300px;
}

.right {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background: yellow;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 300px;
}

@media screen and (min-width: 600px) {
  .container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .left {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .right {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
/*# sourceMappingURL=main.css.map */