@import url("https://fonts.googleapis.com/css2?family=Gotu&family=Work+Sans:wght@300;400&display=swap");
$rosenBrown: #64320f;
$rosenBrownL: #1b1816;
$bgColor: rgb(250, 229, 221);
.main {
  min-height: 100vh;
  width: 100vw;
}

h2 {
  padding-top: 1em;
}
.main,
body,
html {
  background: #fefefa !important;
}
.contentBody {
}
.hidden {
  display: none;
}
.videoDescription {
  color: #74655a;
  font-size: 0.5em;
}
section.mainContent div p {
  color: #928a85;
}
.innerLink {
  text-decoration: none;
  color: $rosenBrown;
}
p {
  font-family: "Work Sans", sans-serif;
}
.contentBody {
  font-family: "Work Sans", sans-serif;
  font-size: 1.1em;
  line-height: 145%;
  text-align: justify;
  font-family: "Work Sans", "Criteria Regular", sans-serif;
}
.App {
  display: flex;
  justify-content: center;
  .innerContainer {
    // background-color: white;
    z-index: 7;
    padding-bottom: 10em;
    section.topNavigation {
      z-index: 9;
      display: flex;
      background-color: #fcf9f3;
      width: inherit;
      padding: 2.5em 6em 2.2em 6.2em;
      justify-content: space-between;

      .logo {
        display: inline-flex;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-decoration: none;
        z-index: 10;
        .mainMax {
          position: relative;
          font-size: 2.3em;
          line-height: 60%;
          font-family: "RosenFont ExtraBlack";
          display: inline;
          top: 1px;
          text-transform: capitalize;
          letter-spacing: -0.009em;
          color: $rosenBrown;
          padding-left: 15px;
          background-position: center;
        }
        .mainRosen {
          font-weight: default;
          font-size: 2.3em;
          font-family: "RosenFont", "Arial", sans-serif;
          padding-left: 0.2em;
          text-transform: uppercase;
          display: inline;
          line-height: 60%;
          top: 1px;
          position: relative;
          letter-spacing: -0.05em;
          color: $rosenBrown;
        }
      }
      .inner {
        position: relative;
        width: 400px;
        display: flex;
        top: 4px;
        right: 15px;
        z-index: 11;
        .svg-1 {
          display: none;
        }
        #navigationContainer {
          display: flex;
          justify-content: space-between;
          width: 100%;
          div {
            .navLink {
              text-decoration: none;
              color: #786f7e;
              font-family: "Criteria Medium", sans-serif;
              font-size: 0.9em;
              // text-transform: uppercase;
              transition: color 250ms ease;
              &:hover {
                color: #322b2a;
              }
              &:last-child {
                padding-bottom: 0.7em;
              }
            }
          }
        }
      }
    }
    section.mainContent {
      z-index: 98;
      margin-bottom: 10em;
      width: 75%;
      margin: 0 auto;
      div {
        .videoSubRoutesContainer {
          position: relative;
          padding-top: 2.5em;
          padding-bottom: 0.5em;
          padding-left: 2em;
          padding-right: 2em;
          margin: 0 auto;
          font-size: 0.9em;
          display: flex;
          justify-content: space-between;
          z-index: 8;
          box-shadow: 0 -1px 0 0 #e6dcd4;
          a.subRoute {
            letter-spacing: 0.03em;
            display: inline-block;
            font-family: "Criteria Demi", sans-serif;
            text-decoration: none;
            color: rgb(60, 52, 61);
            position: relative;
            transition: 250ms all ease-in-out;
            &:hover,
            &:focus {
              color: #c46133;
            }
          }
        }
        div.subsection {
          display: flex;
          justify-content: center;
          flex-direction: column;
          padding-top: 2em;
          color: #6e645c;
          overflow: hidden;
          z-index: 88;
          background-color: rgb(243, 235, 228);
          position: relative;
          .firstVideo {
            width: 96%;
            display: block;
            margin: 0 auto;
            &:hover {
            }
            img {
              width: 100%;
              border-radius: 3px;
            }
            p {
              font-family: "Work Sans", sans-serif;
              padding-bottom: 2em;
            }
          }

          .lesserVideosContainer {
            width: 96%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 0 auto;
            .lesserVideo {
              width: 48%;
              img {
                width: 100%;
                border-radius: 4px;
                &:hover {
                }
              }
              .videoDescriptionSmaller {
                font-size: 0.7em;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .container {
    flex-wrap: nowrap;
  }

  .left {
    flex-basis: 200px;
    order: 1;
  }
  .right {
    flex-basis: 200px;
    order: 3;
  }
}
@keyframes showBottomBorder {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 1000px) {
  .inner {
    border-radius: 3px;
    width: 190px !important;
    clip-path: circle(30px at 85% 10%);
    transition: clip-path 0.2s ease-in-out, background-color 0.1s ease-in-out,
      border 0.1s ease-in-out;
    position: absolute !important;
    right: 15px;
    cursor: pointer;
    display: block !important;
    top: 30px !important;
    border: 1px solid transparent;
    z-index: 7;
    background-color: #fcf9f3;
    .svg-1 {
      float: right;
      display: block !important;
      z-index: 8;
      transform: scale(0.8);
      path {
        fill: none;
        stroke: rgb(99, 88, 86);
        transition: 0.25s ease;
        stroke-width: 2px;
      }
    }
    &:hover {
      clip-path: circle(85%);
      background: #fdfcf7;
      // background: #f8f0e8;
      border: 1px solid #f8f0e8;
      .svg-1 {
        path {
          stroke: #d3c9c0;
        }
        #top {
          d: path("M10,11 L35,34");
        }
        #bottom {
          d: path("M10,34 L35,11");
        }
      }
      #navigationContainer {
        border-top: 1px solid #f8f0e8;
        transform: translate(0%, 0%);
        opacity: 1;
        -webkit-transform: translate(0%, 0%);
      }
    }
    #navigationContainer {
      z-index: 9;
      padding-top: 2em;
      position: relative;
      text-align: right;
      border-top: 1px solid transparent;
      transition: border-top 260ms ease, transform 260ms ease 150ms,
        opacity 260ms ease 150ms;
      opacity: 0;
      transform: translate(-3%, 0%);
      -webkit-transform: translate(-3%, 0%);
      flex-direction: column !important;
      div {
        padding-right: 1em;
        &:last-child {
          padding-bottom: 0.8em;
        }
        .navLink {
          font-size: 0.9em !important;
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .inner {
    top: 15px !important;
  }
}
@media (max-width: 800px) {
  .main {
    width: 95vw !important;
  }
}

.mainRoute {
  position: absolute;
  padding: 2em 2em 0em 2em;
  left: 15px;
  right: 15px;
}

.mainRoute-enter {
  opacity: 0;
  transform: translateY(5px);
}

.mainRoute-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 400ms, transform 400ms;
}

.mainRoute-exit {
  opacity: 1;
  // transform: scale(1);
}

.mainRoute-exit-active {
  opacity: 0;
  // transform: scale(0.9);
  transition: opacity 100ms, transform 300ms;
}
.topBlock {
  padding: 3em 0em 1.5em 0.5em;
}
@media (max-width: 685px) {
  .mainRoute {
    padding: 2em 0em 0em 0em;
  }
}
