$rosenBrown: #64320f;
section.sideNavigation {
  flex: 0.9;
  font-family: "Sectra Fine Book Italic";
  font-size: 1.5em;
  padding-left: 1.5em;
  padding-top: 1.5em;
  #navigationContainer {
    transition: 400ms ease-in-out;
    position: -webkit-sticky;
    position: sticky;
    top: 1.5em;
  }
  a {
    text-decoration: none;
  }
}
.navLink {
  display: block;
}
.pageTitle {
  font-size: 2.5em;
  font-family: "RosenFont", sans-serif;
  letter-spacing: 0.05em;
  color: $rosenBrown;
}
.App .main {
  z-index: 7;
  display: flex;
  align-items: stretch;
}
section.mainContent {
  flex: 4;
  padding-right: 5em;
  padding-left: 2em;
  div {
    flex-direction: column;
    p {
      font-family: "Crimson Text";
      font-size: 2em;
    }
  }
}
img {
  align-self: flex-start;
}
body {
  background: unset;
}
#root {
  background: unset;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: unset;
    top: 50%;
    background-size: 100% 120%;
    animation-timing-function: ease-in;
    animation: opacityShift 4s;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
