.blob {
  display: inline-block;
  background: radial-gradient(ellipse at 60% 90%, #f3d89b 0%, #fff5f2 30%);
  height: 7vw;
  width: 55vw;
  filter: url(#watercolor);
  font-size: 60px;
  color: red;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
  filter: url(#container2);
  filter: blur(30px) contrast(1);
}

.blocky {
  @extend .blob;
  background: radial-gradient(
    ellipse at 40% 10%,
    rgba(255, 255, 0, 0.459) 0%,
    #e7fdd4 60%
  );

  font-family: "Segoe UI Emoji", sans-serif;
  color: #4f691e;
  text-align: right;
  font-size: 40px;
  padding-left: 100px;
  height: 5vw;
  width: 35vw;
  border-radius: 96px 72px 48px 24px/24px 48px 72px 96px;
}
.cloud {
  @extend .blob;
  z-index: 99;
  background: rgb(218, 171, 218);
  color: indigo;
  height: 5vw;
  width: 15vw;
  border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;
}
.scripty {
  @extend .blob;
  color: #d6712d;
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  background: transparent;
  text-align: right;
}
#root {
  overflow: hidden;
}
.container2 {
  background-color: #fdf1ed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
