body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
}
.leftSection {
  width: 18%;
  height: 100vh;
  align-items: stretch;
}
.card {
  width: 75%;
}
@keyframes opacityShift {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* --------- Optima Fonts ---------- */
@font-face {
  font-family: "RosenFont ExtraBlack";
  src: url("assets/Fonts/RosenFont/RosenFont-ExtraBlack.woff") format("woff");
}
@font-face {
  font-family: "RosenFont Bold";
  src: url("assets/Fonts/RosenFont/RosenFont-Bold.woff") format("woff");
}
@font-face {
  font-family: "RosenFont Italic";
  src: url("assets/Fonts/RosenFont/RosenFont-Italic.woff") format("woff");
}
@font-face {
  font-family: "RosenFont";
  src: url("assets/Fonts/RosenFont/RosenFont-Regular.woff") format("woff");
}
@font-face {
  font-family: "RosenFont BoldItalic";
  src: url("assets/Fonts/RosenFont/RosenFont-BoldItalic.woff") format("woff");
}

/* --------- America Fonts ---------- */

@font-face {
  font-family: "Sectra Fine Book Italic";
  src: url("assets/Fonts/GT-America/GT-Sectra-Fine-Trial-Book-Italic.otf")
    format("opentype");
}
/* --------- Bossa Fonts ---------- */
@font-face {
  font-family: "Bossa Expanded Light";
  src: url("assets/Fonts/Bossa/Bossa-ExpandedLight.otf") format("opentype");
}
@font-face {
  font-family: "Bossa Light";
  src: url("assets/Fonts/Bossa/Bossa-Light.otf") format("opentype");
}
@font-face {
  font-family: "Bossa Regular";
  src: url("assets/Fonts/Bossa/Bossa-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Bossa Expanded Regular";
  src: url("assets/Fonts/Bossa/Bossa-ExpandedRegular.otf") format("opentype");
}
/* --------- Agrandir Fonts ---------- */
@font-face {
  font-family: "Agrandir Grand Heavy";
  src: url("assets/Fonts/Agrandir/Agrandir-GrandHeavy.otf") format("opentype");
}
/* --------- Sabon Fonts ---------- */
@font-face {
  font-family: "Sabon";
  src: url("assets/Fonts/Sabon-Font/Sabon_Roman.ttf") format("truetype");
}
@font-face {
  font-family: "Sabon Italic";
  src: url("assets/Fonts/Sabon-Font/Sabon_Italic.ttf") format("truetype");
}
/* --------- Criteria Fonts ---------- */
@font-face {
  font-family: "Criteria Light";
  src: url("assets/Fonts/Criteria/CriteriaLight.woff") format("woff");
}
@font-face {
  font-family: "Criteria Regular";
  src: url("assets/Fonts/Criteria/CriteriaRegular.woff") format("woff");
}
@font-face {
  font-family: "Criteria Medium";
  src: url("assets/Fonts/Criteria/CriteriaMedium.woff") format("woff");
}
