body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fad6c1;
}
html {
  background: #f3e8e8;
}
.App div {
  z-index: 7;
}
body {
  background: linear-gradient(349deg, #f8dfb0 1%, #d5ebff 90%);
}
.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
}
.card,
.leftSection {
}
.leftSection {
  width: 18%;
  /* background-color: #fdeddd; */
  /* background-color: white; */
  height: 100vh;
  align-items: stretch;
}
.card {
  width: 75%;
}
@keyframes opacityShift {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* --------- Optima Fonts ---------- */
@font-face {
  font-family: "RosenFont ExtraBlack";
  src: url("assets/Fonts/RosenFont/RosenFont-ExtraBlack.woff") format("woff");
}
@font-face {
  font-family: "RosenFont Bold";
  src: url("assets/Fonts/RosenFont/RosenFont-Bold.woff") format("woff");
}
@font-face {
  font-family: "RosenFont Italic";
  src: url("assets/Fonts/RosenFont/RosenFont-Italic.woff") format("woff");
}
@font-face {
  font-family: "RosenFont";
  src: url("assets/Fonts/RosenFont/RosenFont-Regular.woff") format("woff");
}
@font-face {
  font-family: "RosenFont BoldItalic";
  src: url("assets/Fonts/RosenFont/RosenFont-BoldItalic.woff") format("woff");
}

/* --------- America Fonts ---------- */
@font-face {
  font-family: "America Expanded Ultra-Light";
  src: url("assets/Fonts/GT-America/GT-America-Trial-Expanded-Ultra-Light.otf")
    format("opentype");
}

@font-face {
  font-family: "America Expanded Ultra-Light Italic";
  src: url("assets/Fonts/GT-America/GT-America-Trial-Expanded-Ultra-Light-Italic.otf")
    format("opentype");
}
@font-face {
  font-family: "America Expanded Light";
  src: url("assets/Fonts/GT-America/GT-America-Trial-Expanded-Light.otf")
    format("opentype");
}
@font-face {
  font-family: "America Expanded Light Italic";
  src: url("assets/Fonts/GT-America/GT-America-Trial-Expanded-Light-Italic.otf")
    format("opentype");
}
@font-face {
  font-family: "America Expanded Regular";
  src: url("assets/Fonts/GT-America/GT-America-Trial-Expanded-Regular.otf")
    format("opentype");
}
@font-face {
  font-family: "America Expanded Regular Italic";
  src: url("assets/Fonts/GT-America/GT-America-Trial-Expanded-Regular-Italic.otf")
    format("opentype");
}
@font-face {
  font-family: "America Expanded Medium";
  src: url("assets/Fonts/GT-America/GT-America-Trial-Expanded-Medium.otf")
    format("opentype");
}
@font-face {
  font-family: "America Expanded Medium Italic";
  src: url("assets/Fonts/GT-America/GT-America-Trial-Expanded-Medium-Italic.otf")
    format("opentype");
}
@font-face {
  font-family: "America Expanded Thin";
  src: url("assets/Fonts/GT-America/GT-America-Trial-Expanded-Thin.otf")
    format("opentype");
}
@font-face {
  font-family: "America Expanded Thin Italic";
  src: url("assets/Fonts/GT-America/GT-America-Trial-Expanded-Thin-Italic.otf")
    format("opentype");
}
@font-face {
  font-family: "Sectra Fine Book Italic";
  src: url("assets/Fonts/GT-America/GT-Sectra-Fine-Trial-Book-Italic.otf")
    format("opentype");
}
